<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!</title>
    <style>
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        body {
            width: 360px;
            max-width: 600px;
            margin: 0 auto;
        }

        .ads {
            width: 320px;
            height: 275px;
            margin: 24px auto;
            background-color: black;
            border-radius: 8px;
        }
    </style>
</head>

<body>
    <div class="a-ads ads">

    </div>
    <h1 class="ujumbe">
        Website not available at this moment
    </h1>
    <div class="adsterra ads">

    </div>
</body>

</html>