<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!</title>
	<meta name="propeller" content="fb98a8c63b7a2b8048cbe57a9c4c5e85">
    <style>
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        body {
            width: 90%;
            max-width: 600px;
            margin: 0 auto;
        }

        .ujumbe {
            width: 320px;
            margin: 8px auto;
        }
    </style>
    <%- include('./partials/ads.ejs'); %>
</head>

<body>
    <div class="a-ads ads">
        <iframe data-aa="1776866" src="//ad.a-ads.com/1776866?size=300x250"
            style="width:300px; height:250px; border:0px; padding:0; overflow:hidden; background-color: transparent;"></iframe>
    </div>
    <h1 class="ujumbe">
        Website not available at this moment
    </h1>
    <div class="adsterraNative ads">
        <script async="async" data-cfasync="false"
            src="//lectureolympics.com/915b6f173a7c21d4b7733588f4fa966c/invoke.js"></script>
        <div id="container-915b6f173a7c21d4b7733588f4fa966c"></div>
    </div>
    <br>
    <hr> <br>
    <div class="adsterra250 ads">
        <script type="text/javascript">
            atOptions = {
                'key': 'a3248d4c803a8513bc51223eb4eb9a9e',
                'format': 'iframe',
                'height': 250,
                'width': 300,
                'params': {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://lectureolympics.com/a3248d4c803a8513bc51223eb4eb9a9e/invoke.js"></scr' + 'ipt>');
        </script>
    </div>

    <!-- social bar adsterra -->
    <script type='text/javascript' src='//lectureolympics.com/b0/d9/c0/b0d9c09cd174cf19e44ebef0a0d22254.js'></script>
</body>

</html>