<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!</title>
    <style>
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        body {
            width: 90%;
            max-width: 600px;
            margin: 0 auto;
        }

        .ujumbe {
            width: 320px;
            margin: 8px auto;
        }
    </style>
    <%- include('./partials/ads.ejs'); %>
</head>

<body>
    <div class="a-ads ads">
        <iframe data-aa="1769092" src="//ad.a-ads.com/1769092?size=300x250"
            style="width:300px; height:250px; border:0px; padding:0; overflow:hidden; background-color: transparent;"></iframe>
    </div>
    <h1 class="ujumbe">
        Website not available at this moment
    </h1>
    <div class="adsterraNative ads">
        <script async="async" data-cfasync="false"
            src="//lectureolympics.com/1315bd0c8cd301a706bd16e6d4f60c48/invoke.js"></script>
        <div id="container-1315bd0c8cd301a706bd16e6d4f60c48"></div>
    </div>
    <br>
    <hr> <br>
    <div class="adsterra250 ads">
        <script type="text/javascript">
            atOptions = {
                'key': 'c555b7e4c621abc8f98ec2dba9be485e',
                'format': 'iframe',
                'height': 250,
                'width': 300,
                'params': {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://lectureolympics.com/c555b7e4c621abc8f98ec2dba9be485e/invoke.js"></scr' + 'ipt>');
        </script>
    </div>

    <!-- social bar adsterra -->
    <script type='text/javascript' src='//lectureolympics.com/75/a8/02/75a8029abc04ba2542c2c9bd62a26869.js'></script>
</body>

</html>