<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page - Oh My</title>
    <%- include('./partials/posting-style'); %>
</head>

<body>
    <form action="/post" method="POST" target="_blank">
        <input type="text" name="title" id="title" placeholder="Title">
        <input type="text" name="author" id="author" placeholder="Author">
        <input type="text" name="picha" id="picha" placeholder="Picha">
        <textarea name="body" id="body" cols="59" rows="10" placeholder="Article goes here..."></textarea>
        <br> <br>
        <div class="btn">
            <button>SUBMIT</button>
        </div>
    </form>
</body>

</html>