<!-- Modal -->
<div class="modal fade" id="successModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title tgusername" id="successModal" style="font-weight: bolder;">Your Name... ⏳</h4>
                <button type="button" class="btn-close understood" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="nottginfo">
                ⏳
            </div>
            <div class="modal-body tginfo">
                <span class="cong" style="text-align: left;">Congratulations 👏 <br> You increased your points balance
                    by
                    1.</span> <br><br>
                <div class="modalPts">
                    Your new points balance
                    <h2 id="modalPtsBalance">⏳</h2>
                </div> <br>
                <i style="font-size: xx-small; text-align: right;">Click the button below to add more points</i>
            </div>
            <div class="modal-footer">
                <button type="button" id="understood" class="btn btn-primary understood understoodbtn">⏳</button>
            </div>
        </div>
    </div>
</div>